<footer class="mt-auto">
    <div class="bg-slate-100 items-center flex justify-around w-full text-[#002f34]">
        <img src="assets/images/phone-app.png" alt="image">
        <div class="w-2/6 space-y-4">
            <h1 class="uppercase text-3xl font-bold">Try the olx app</h1>
            <p class="text-xl">Buy, sell and find just about anything using the app on your mobile.</p>
        </div>
        <hr class="rotate-90 w-36 bg-black">
        <div class="font-bold space-y-4 w-2/6">
            <h2>GET YOUR APP TODAY</h2>
            <div class="flex flex-row">
                <img class="w-32 h-10 mr-2 cursor-pointer" src="assets/images/appstore_2x.png" alt="">
                <img class="w-32 h-10 cursor-pointer" src="assets/images/playstore_2x.png" alt="">
            </div>
        </div>
    </div>
    <div class="bg-[#ebeeef] w-full h-40">

    </div>
    <div class="bg-[#002f34] w-full h-20">

    </div>
</footer>
