<div class="w-24 h-12 cursor-pointer" routerLink="/post">
    <div class="relative w-full h-full rounded-full overflow-hidden">
        <div class="absolute flex flex-row items-center justify-center rounded-full bg-white w-5/6 h-5/6 ml-2 mt-1">
            <fa-icon class="text-xl" [icon]="faPlus"></fa-icon>
            <h1 class="uppercase font-bold">Sell</h1>
        </div>
        <div class="bg-cyan-400 h-3/6"></div>
        <div class="flex flex-row h-3/6">
            <div class="bg-[#ffce32] w-3/6"></div>
            <div class="bg-[#3a77ff] w-3/6"></div>
        </div>
    </div>
</div>