<div class="p-14">
    <h1 class="text-[#002f34] text-2xl">Fresh recommendations</h1>
    <div class="w-full h-64 my-5 flex flex-row justify-evenly">
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
    </div>
    <div class="w-full h-64 my-5 flex flex-row justify-evenly">
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full bg-[#3a77ff] border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
    </div>
    <div class="w-full h-64 my-5 flex flex-row justify-evenly">
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
    </div>
    <div class="w-full h-64 my-5 flex flex-row justify-evenly">
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
        <div class="w-72 h-full border rounded-md">

        </div>
    </div>
    <div class="w-full h-64 my-5 flex flex-row justify-evenly">
        <div class="w-72 h-full border rounded-md">

        </div>
    </div>
</div>