<div class="p-14">
    <h1 class="text-[#002f34] text-2xl">Fresh recommendations</h1>
    <div class="w-full h-64 my-5 flex flex-row justify-evenly">
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/anothercharger.jpg" alt="">
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/bike 3.jpg" alt="">
            
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/bike1.jpg" alt="">
            
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/bike2.jpg" alt="">
            
        </div>
    </div>
    <div class="w-full h-64 my-5 flex flex-row justify-evenly">
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/challenger.jpg" alt="">
            
        </div>
        <div class="w-72 h-full bg-[#3a77ff] border rounded-md text-white text-center p-4">
            <h1 class="font-bold">Want to see your stuff here?</h1>
            <p class="text-sm mt-4">Make some extra cash by selling things in your community. Go on, it's quick and easy.</p>
            <button class="border-white w-full h-10 border-2 mt-20 rounded-md text-sm font-bold">Start selling</button>
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/charger.jpg" alt="">
            
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/hellcat.jpg" alt="">
            
        </div>
    </div>
    <div class="w-full h-64 my-5 flex flex-row justify-evenly">
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/phone 3.jpg" alt="">
            
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/phone1.jpg" alt="">
            
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/phone2.jpg" alt="">
            
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/phone4.jpg" alt="">
            
        </div>
    </div>
    <div class="w-full h-64 my-5 flex flex-row justify-evenly">
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/anothercharger.jpg" alt="">
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/bike 3.jpg" alt="">
            
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/bike1.jpg" alt="">
            
        </div>
        <div class="w-72 h-full border rounded-md">
            <img src="/assets/images/bike2.jpg" alt="">
            
        </div>
    </div>
</div>