@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #ebeeef;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}